<div class="pageHeaders">

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <img src="https://s-media-cache-ak0.pinimg.com/736x/91/91/ba/9191ba989eed8d86a12fa75e84054e5b.jpg" class="img-square">
    <h3>Username: <b><%= user %></b></h3>
    <h5>Email: <b><%= email %></b><br></h5>
    <h5>Date Joined: <b><%= dateJoined %></b><br></h5>
    <a class="sideNavLink btn-success" href="/listings/search">Search Listing</a>
    <a class="sideNavLink btn-danger" href="/listings/new">Create Listing</a>
    <a class="sideNavLink" href="#">Update</a>
    <a class="sideNavLink" href="/deleteProfile">Delete Profile</a>
    <a class="sideNavLink" href="#">Settings</a>
    <br>
    <a class="sideNavLink" href="/logout">Logout</a>

  </div>

  <div id="main">
    <span class="openNav" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; profile</span>
  </div>

<!-- Start Properties  -->
<section id="aa-properties">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="aa-properties-content">
          <!-- start properties content head -->
          <div class="aa-properties-content-head">
            <div class="aa-properties-content-head-left">
              <form action="" class="aa-sort-form">
                <label for="">Sort by</label>
                <select name="">
                  <option value="1" selected="Default">Default</option>
                  <option value="2">Name</option>
                  <option value="3">Price</option>
                  <option value="4">Date</option>
                </select>
              </form>
              <form action="" class="aa-show-form">
                <label for="">Show</label>
                <select name="">
                  <option value="1" selected="12">6</option>
                  <option value="2">12</option>
                  <option value="3">24</option>
                </select>
              </form>
            </div>
            <div class="aa-properties-content-head-right">
              <a id="aa-grid-properties" href="#"><span class="fa fa-th"></span></a>
              <a id="aa-list-properties" href="#"><span class="fa fa-list"></span></a>
            </div>
          </div>

          <!-- Start properties content body -->
          <div class="aa-properties-content-body">
            <ul class="aa-properties-nav">
              <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/6.jpg">
                  </a>
                  <div class="aa-tag for-rent">
                    For Rent
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="#">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
              <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/1.jpg">
                  </a>
                  <div class="aa-tag sold-out">
                    Sold
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="#">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
               <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/2.jpg">
                  </a>
                  <div class="aa-tag sold-out">
                    Sold
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="#">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
              <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/5.jpg">
                  </a>
                  <div class="aa-tag for-sale">
                    For Sale
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="#">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
               <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/3.jpg">
                  </a>
                  <div class="aa-tag for-rent">
                      For Rent
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="#">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
               <li>
                <article class="aa-properties-item">
                  <a class="aa-properties-item-img" href="#">
                    <img alt="img" src="img/item/4.jpg">
                  </a>
                  <div class="aa-tag for-sale">
                    For Sale
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>5 Rooms</span>
                      <span>2 Beds</span>
                      <span>3 Baths</span>
                      <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">Appartment Title</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        $35000
                      </span>
                      <a class="aa-secondary-btn" href="#">View Details</a>
                    </div>
                  </div>
                </article>
              </li>
            </ul>
          </div>

          <!-- Start properties content bottom -->
          <div class="aa-properties-content-bottom">
            <nav>
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- Start properties sidebar -->
      <div class="col-md-4">
        <aside class="aa-properties-sidebar">
          <!-- Start Single properties sidebar -->
          <div class="aa-properties-single-sidebar">
            <h3>Search Listings</h3>
            <form action="">
              <div class="aa-single-advance-search">
                <input type="text" placeholder="Type Your Location">
              </div>

              <div class="aa-single-advance-search">
                <select id="" name="">
                 <option selected="" value="0">Category</option>
                  <option value="1">Flat</option>
                  <option value="2">Land</option>
                  <option value="3">Plot</option>
                  <option value="4">Commercial</option>
                </select>
              </div>

              <div class="aa-single-advance-search">
                <select id="" name="">
                  <option selected="" value="0">Type</option>
                  <option value="1">Flat</option>
                  <option value="2">Land</option>
                  <option value="3">Plot</option>
                  <option value="4">Commercial</option>
                </select>
              </div>

              <div class="aa-single-advance-search">
                <select id="" name="">
                  <option selected="" value="0">Type</option>
                  <option value="1">Flat</option>
                  <option value="2">Land</option>
                  <option value="3">Plot</option>
                  <option value="4">Commercial</option>
                </select>
              </div>

              <div class="aa-single-advance-search">
                <input type="submit" value="Search" class="aa-search-btn">
              </div>

            </form>
          </div>
          <!-- Start Single properties sidebar -->
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- / Properties  -->

<%# ==============================================================%>
<ul id="all-listing-list">
<% allListings.forEach(function(listing) { %>
  <ol>
      <li>Post ID:<%= listing._id %></li><br>
      <li>Title:<%= listing.title %></li><br>
      <li>Address:<%= listing.address %></li><br>
      <li>Listing Type:<%= listing.listingType %></li><br>
      <li>Property Type:<%= listing.propertyType %></li><br>
      <li>Price ($):<%= listing.price %><</li>br>
      <li>Size (sqft):<%= listing.size %></li><br>
      <li>Tenure:<%= listing.tenure %></li><br>
      <li>Bedroom(s):<%= listing.bedroom %></li><br>
      <li>Bathroom(s):<%= listing.bathroom %></li><br>
      <li>Addtional Details:<%= listing.details %></li><br>
      <li>Contact Name:<%= listing.contactName %></li><br>
      <li>Contact No.:<%= listing.contactNumber %></li><br>
      <li>Date Posted:<%= ((listing.postDate).toLocaleDateString()) %></li><br>
      <li>District:<%= listing.district[0].district%><li><br>
      <li<Area:<%= listing.district,[10].area %><br>
  </ol>
<% }) %>
</ul>

<%# ==============================================================%>

</div>

<%# ==============================================================%>

<%# var listings = {
    title: "Good buy",
    address: "Thomson",
    district: [{
       district: 34,
       neighbourhood: "Bishan"
    },{
       district: 12,
       neighbourhood: "Toa Payoh"
    }]
}

console.log(listings.district[1].neighbourhood)%>

<%# ==============================================================%>
