
<!-- Jumbotron -->
  <div class="container">
    <div class="content-container">
      <div class="blur">
    <div class="jumbotron index">

<div class="bo">
      <h1 class="yay">Finding a home is...</h1>
      <div class="nay">
        <span1><b>
          wonderfully exciting!<br />
          really simple!<br />
          just a few clicks away!
          </b></span1>
      </div>
</div>



      <%# <h1>A New Home</h1>
      <p>...is just a few clicks away</p>%>

      <!-- Advance Search -->
      <section id="aa-advance-search">
        <div class="container">
          <div class="aa-advance-search-area">
            <div class="form">
              <div class="aa-advance-search-top">
                <div class="row">
                  <div class="col-md-4">
                    <div class="aa-single-advance-search">
                      <input type="text" placeholder="Location">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="aa-single-advance-search">
                      <select>
                        <option value="0" selected>All District</option>
                        <option value="1">District 01 - Raffles Place, Marina, Cecil</option>
                        <option value="2">District 02 - Tanjong Pagar, Chinatown</option>
                        <option value="3">District 03 - Tiong Bahru, Alexandra, Queenstown</option>
                        <option value="4">District 04 - Mount Faber, Telok Blangah, Harbourfront</option>
                        <option value="5">District 05 - Buona Vista, Pasir Panjang, Clementi</option>
                        <option value="6">District 06 - Clarke Quay, City Hall</option>
                        <option value="7">District 07 - Bugis, Beach Road, Golden Mile</option>
                        <option value="8">District 08 - Little India, Farrer Park</option>
                        <option value="9">District 09 - Orchard Road, River Valley</option>
                        <option value="10">District 10 - Bukit Timah, Holland, Balmoral</option>
                        <option value="11">District 11 - Novena, Newton, Thomson</option>
                        <option value="12">District 12 - Toa Payoh, Serangoon, Balestier</option>
                        <option value="13">District 13 - Macpherson, Braddell
                        </option>
                        <option value="14">District 14 - Geylang, Paya Lebar, Sims</option>
                        <option value="15">District 15 - Joo Chiat, Marina Parade, Katong</option>
                        <option value="16">District 16 - Bedok, Upper East Coast, Siglap</option>
                        <option value="17">District 17 - Changi, Flora, Loyang</option>
                        <option value="18">District 18 - Tampines, Pasir Ris</option>
                        <option value="19">District 19 - Punggol, Sengkang, Serangoon Gardens</option>
                        <option value="20">District 20 - Ang Mo Kio, Bishan, Thomson</option>
                        <option value="21">District 21 - Upper Bukit Timah, Ulu Pandan, Clementi Park</option>
                        <option value="22">District 22 - Boon Lay, Jurong, Tuas</option>
                        <option value="23">District 23 - Choa Chu Kang, Diary Farm, Hillview, Bukit Panjang, Bukit Batok</option>
                        <option value="24">District 24 - Kranji, Lim Chu Kang, Tengah</option>
                        <option value="25">District 25 - Woodlands, Admiralty</option>
                        <option value="26">District 26 - Upper Thomson, Mandai
                        </option>
                        <option value="27">District 27 - Sembawang, Yishun, Admiralty</option>
                        <option value="28">District 28 - Yio Chu Kang, Seletar</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="aa-single-advance-search">
                      <select>
                        <option value="0" selected>Sale</option>
                        <option value="1">Rent</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="aa-single-advance-search">
                      <select>
                <option value="0" selected>Residential</option>
                <option value="1">Landed</option>
                <option value="2">Condo</option>
                <option value="3">HDB</option>
              </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div  class="aa-single-advance-search">
                      <button class="aa-search-btn" type="button" name="button" ><a id="searchButton" href="/underconstruction" ">SEARCH</a></button>
                    </div>
                  </div>
                  <br><br><br>

                  <%# <div class="col-md-2">
                    <div class="aa-single-advance-search">
                      <input type="text" placeholder="Min. Price ($)">
                    </div>
                  </div>%>

                  <%# <div class="col-md-2">
                    <div class="aa-single-advance-search">
                      <input type="text" placeholder="Max. Price ($)">
                    </div>
                  </div>%>

                  <%# <div class="col-md-2">
                    <div class="aa-single-advance-search">
                      <input type="text" placeholder="Size (sqft)">
                    </div>
                  </div>%>

                  <%# <div class="col-md-2">
                    <div class="aa-single-advance-search">
                      <select>
                        <option value="0" selected>Tenure</option>
                        <option value="1">Freehold</option>
                        <option value="2">999-year Leasehold</option>
                        <option value="3">103-year Leasehold</option>
                        <option value="4">99-year Leasehold</option>
                        <option value="5">Unknown Tenure</option>
                      </select>
                    </div>
                  </div>%>

                <%# <div class="col-md-2">
                  <div class="aa-single-advance-search">
                    <select>
                      <option value="0" selected>Bedrooms</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5+</option>
                    </select>
                  </div>
                </div>%>

                <%# <div class="col-md-2">
                  <div class="aa-single-advance-search">
                    <select>
                      <option value="0" selected>Bathrooms</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5+</option>
                    </select>
                  </div>
                </div>%>

              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/Advance Search -->

    </div>
  </div>

</div>
</div>
<!--/Jumbotron -->

<!-- Popular properties -->
<section id="aa-latest-property">
  <div class="container">
    <div class="aa-latest-property-area">

      <div class="aa-title">
        <h1>Popular Properties</h1>
        <span></span>
        <p>Click on them for more details...</p>
        <hr>
      </div>

      <div class="aa-latest-properties-content">
        <div class="row">

          <div class="col-md-4">
            <article class="aa-properties-item">
              <a href="/underconstruction" class="aa-properties-item-img popular">
                <img src="/image/condo.jpg" alt="img">
              </a>
              <div class="aa-tag for-rent">
              For Rent
              </div>
              <div class="aa-properties-item-content">
                <div class="aa-properties-info">
                  4 Beds</span>
                  3 Baths</span>
                  2112 sqft</span>
                </div>
                <div class="aa-properties-about">
                  <h3><a href="/underconstruction">Amber Avenue Condo</a></h3>
                  <p>Recently renovated. Close to MRT station - 200m walk.</p>
                </div>
                <div class="aa-properties-detial">
                  <span class="aa-price">
                  $4500
                </span>
                  <a href="/underconstruction" class="aa-secondary-btn">View Listing</a>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4">
            <article class="aa-properties-item">
              <a href="/underconstruction" class="aa-properties-item-img popular">
                <img src="/image/terrace.jpg" alt="img">
              </a>
              <div class="aa-tag for-sale">
              For Sale
              </div>
              <div class="aa-properties-item-content">
                <div class="aa-properties-info">
                  3 Beds</span>
                  3 Baths</span>
                  2112 sqft</span>
                </div>
                <div class="aa-properties-about">
                  <h3><a href="/underconstruction">Thomson Garden Terrace House</a></h3>
                  <p>2 storey corner terrace. Located opposite Thomson Garden Park. Quiet neighbourhood.</p>
                </div>
                <div class="aa-properties-detial">
                  <span class="aa-price">
                  $2100000
                </span>
                  <a href="/underconstruction" class="aa-secondary-btn">View Listing</a>
                </div>
              </div>
            </article>
          </div>

          <div class="col-md-4">
            <article class="aa-properties-item">
              <a href="/underconstruction" class="aa-properties-item-img popular">
                <img src="/image/hdb.jpg" alt="img">
              </a>
              <div class="aa-tag sold-out">
              Sold
              </div>
              <div class="aa-properties-item-content">
                <div class="aa-properties-info">
                  3 Beds</span>
                  2 Baths</span>
                  1102 sqft</span>
                </div>
                <div class="aa-properties-about">
                  <h3><a href="/underconstruction">Bishan St 24</a></h3>
                  <p>HDB 5-room flat. Highest floor. Unblock view of Bishan Park. Located close to bishan market.</p>
                </div>
                <div class="aa-properties-detial">
                  <span class="aa-price">
                  $670000
                </span>
                  <a href="/underconstruction" class="aa-secondary-btn">View Listing</a>
                </div>
              </div>
            </article>
          </div>

          <%# </ol>%>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Popular properties -->

<!-- All properties -->
<section id="aa-latest-property">
  <div class="container">
    <div class="aa-latest-property-area">

      <div class="aa-title">
        <h1>All Properties</h1>
        <span></span>
        <p>Click on them for more details...</p>
        <hr>
      </div>

      <div class="aa-latest-properties-content">
        <div class="row">

          <%# <ol id="all-listing-list">%>
          <% allListings.forEach(function(listing) { %>

          <div class="col-md-4">
            <article class="aa-properties-item">
              <a href="/underconstruction" class="aa-properties-item-img">
                <img src="https://i.ytimg.com/vi/Xx6t0gmQ_Tw/maxresdefault.jpg" alt="img">
              </a>
          <% var tag %>
          <% if (listing.listingType === "For Rent") { %>
          <%    tag = 'for-rent' %>
          <% } else if (listing.listingType === "For Sale") { %>
          <%    tag = 'for-sale' %>
          <% } else { %>
              <% tag = 'for-soldout' %>
          <% } %>

              <div id=<%= tag%> class="aa-tag for-rent">
              <%= listing.listingType %>
              </div>
              <div class="aa-properties-item-content">
                <div class="aa-properties-info">
                  <%= listing.bedroom %> Beds</span>
                  <%= listing.bathroom %> Baths</span>
                  <%= listing.size %> sqft</span>
                </div>
                <div class="aa-properties-about">
                  <h3><a href="/underconstruction"><%= listing.title %></a></h3>
                  <p><%= listing.details %></p>
                </div>
                <div class="aa-properties-detial">
                  <span class="aa-price">
                  $<%= listing.price %>
                </span>
                  <a href="/underconstruction" class="aa-secondary-btn">View Listing</a>
                </div>
              </div>
            </article>
          </div>

          <% }) %>
          <%# </ol>%>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- / All properties -->
