<div class="pageHeaders">

  <div class="containerPosting">

    <nav class="profileLeft">
      <div class="container-fluid well span6">
      	<%# <div class="row-fluid">%>
              <div class="span8" >
      		    <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
              </div>

              <div class="span8">
                  <h3>Username</h3>
                  <h6>Email: <%= %></h6>
              </div>

              <div class="span8">
                  <div class="btn-group">
                      <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                          Update
                          <span class="icon-cog icon-white"></span><span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                          <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
                      </ul>
                </div>
            </div>

          <div class="logout">
            <a href="/home/logout">Logout</a>
          </div>

        </div>
    </nav>

    <section class="userPosting">
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h4><strong><a href="#">Title of the post</a></strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <a href="#" class="thumbnail">
                  <img src="http://placehold.it/260x180" alt="">
              </a>
            </div>
            <div class="span6">
              <p>
                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
              </p>
              <div class="btn-group">
                  <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                      Action
                      <span class="icon-cog icon-white"></span><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                      <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
                  </ul>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <p></p>
              <p>
                <i class="icon-user"></i> by <a href="#">Username</a>
                | <i class="icon-calendar"></i>Sept 16th, 2012
                | <i class="icon-comment"></i> <a href="#">3 Enquiries</a>
                | <i class="icon-share"></i> <a href="#">39 Views</a>
                | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
                <a href="#"><span class="label label-info">Bootstrap</span></a>
                <a href="#"><span class="label label-info">UI</span></a>
                <a href="#"><span class="label label-info">growth</span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </section>

    <section class="userPosting">
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h4><strong><a href="#">Title of the post</a></strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <a href="#" class="thumbnail">
                  <img src="http://placehold.it/260x180" alt="">
              </a>
            </div>
            <div class="span6">
              <p>
                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <p></p>
              <div class="btn-group">
                  <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                      Action
                      <span class="icon-cog icon-white"></span><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                      <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
                  </ul>
            </div>
              <p>
                <i class="icon-user"></i> by <a href="#">Username</a>
                | <i class="icon-calendar"></i>Sept 16th, 2012
                | <i class="icon-comment"></i> <a href="#">3 Enquiries</a>
                | <i class="icon-share"></i> <a href="#">39 Views</a>
                | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
                <a href="#"><span class="label label-info">Bootstrap</span></a>
                <a href="#"><span class="label label-info">UI</span></a>
                <a href="#"><span class="label label-info">growth</span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </section>


    <section class="userPosting">
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h4><strong><a href="#">Title of the post</a></strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <a href="#" class="thumbnail">
                  <img src="http://placehold.it/260x180" alt="">
              </a>
            </div>
            <div class="span6">
              <p>
                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
              </p>
              <div class="btn-group">
                  <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                      Action
                      <span class="icon-cog icon-white"></span><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                      <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
                  </ul>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <p></p>
              <p>
                <i class="icon-user"></i> by <a href="#">Username</a>
                | <i class="icon-calendar"></i>Sept 16th, 2012
                | <i class="icon-comment"></i> <a href="#">3 Enquiries</a>
                | <i class="icon-share"></i> <a href="#">39 Views</a>
                | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
                <a href="#"><span class="label label-info">Bootstrap</span></a>
                <a href="#"><span class="label label-info">UI</span></a>
                <a href="#"><span class="label label-info">growth</span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

</div>

<h1>After login you start here</h1>

<h1>After signup you start here</h1>

<%# SHOW ALL LISTINGS=======================================================%>

<ul id="all-listing-list">
<% allListings.forEach(function(listing) { %>
  <li>
      <br><%= listing.title %><br>
      <%= listing.address %><br>
      <%= listing.listingType %><br>
      <%= listing.propertyType %><br>
      <%= listing.price %><br>
      <%= listing.size %><br>
      <%= listing.tenure %><br>
      <%= listing.bedroom %><br>
      <%= listing.bathroom %><br>
      <%= listing.details %><br>
      <%= listing.contactName %><br>
      <%= listing.contactNumber %><br>
  </li>
<% }) %>
</ul>

<ul id="all-district-list">
<% allDistricts.forEach(function(district) { %>
  <li>
    <br><%= district.district %><br>%>
        <%= district.neighbourhood %><br>%>
  </li>
  <% }) %>
</ul>

<%# ========================================================================%>

</div>
