<div class="pageHeaders">

  <div class="containerPosting" id="main">

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <img src="https://s-media-cache-ak0.pinimg.com/736x/91/91/ba/9191ba989eed8d86a12fa75e84054e5b.jpg" class="img-square">
      <h3>Username: <b><%= user %></b></h3>
      <h5>Email: <b><%= email %></b><br></h5>
      <h5>Date Joined: <b><%= dateJoined %></b><br></h5>
      <br>
      <a class="sideNavLink" href="/underconstruction">Update Profile</a>
      <br>
      <a class="sideNavLink" href="/underconstruction">Search</a>
      <br>
      <a class="sideNavLink" href="/listings/new">Create</a>
      <br>
    </div>

    <div id="main">
      <span class="openNav" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>

    <div class="allPosting">

      <% allListings.forEach(function(listing) { %>

        <section class="userPosting">
          <div class="row">
            <div class="span8">
              <h4><strong><h1><%= listing.title %></h1></strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <a href="#" class="thumbnail">
                <img src="https://i.ytimg.com/vi/Xx6t0gmQ_Tw/maxresdefault.jpg" alt="">
              </a>
            </div>
            <div class="span6">

              <div class="aa-properties-info">
                <h3><b>Price:</b> $<%= listing.price %></h3>
                <h4><b>Listing Type:</b></h4> <p><%= listing.listingType %></p>
                <h4><b>Address:</b></h4> <p><%= listing.address %></p>
                <h4><b>District:</b></h4> <p><%= listing.district %></p>
                <h4><b>Details:</b></h4>  <p><%= listing.details %></p>
                <h4>Propery Features:</h4>
                <ul>
                  <li><%= listing.bedroom %> Bedroom</li>
                  <li><%= listing.bathroom %> Baths</li>
                  <li>Size (sqft): <%= listing.size %></li>
                  <li>Tenure: <%= listing.tenure %></li>

                </ul>
                <h4>Property Map:</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.779158581554!2d103.82957691475393!3d1.3077118990462098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da198d35873849%3A0x3a23fa3bd151effb!2s8+Claymore+Hill%2C+Singapore+229572!5e0!3m2!1sen!2ssg!4v1477604228018" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>


              <br><br>

              <div class="postButton btn-group">

                <form class="MoDe" action="/listings/<%=listing.id %>/modify">
                  <button type="submit" class="btn btn-primary btn-md btn-info">Modify</button>
                </form>

                <form class="MoDe" method="POST" action="/listings/profile/<%=listing.id%>" enctype="application/x-www-form-urlencoded">
                  <input type="hidden" name="_method" value="DELETE">
                  <button type="submit" class="btn btn-primary btn-md btn-danger">Delete</button>
                </form>
              </div>

              <br><br>

              <hr>

              <div class="row">
                <div class="span8">
                  <p>
                    <i class="icon-calendar"></i>
                    <%= ((listing.postDate).toLocaleDateString()) %> | <i class="icon-comment"></i> <a href="#">3 Enquiries</a> | <i class="icon-share"></i> <a href="#">39 Views</a> | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">renovated</span></a>
                      <a href="#"><span class="label label-info">hougang</span></a>
                      <a href="#"><span class="label label-info">condo</span></a>
                      <a href="#"><span class="label label-info">3bedroom</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <% }) %>

    </div>

  </div>

</div>
